h1, h2, h3, p, a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000bd;
}

html {
    min-height: 100%;
}

body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100%;
}

hr {
    margin: 20px 0;
    border: 4px #3d3d3d60 solid;
    border-radius: 50px;
}

h1 {
    font-size: 120px;
    /* margin: 0 15%; */
    width: 100%;
    float: right;
}

h2 {
    font-size: 35px;
    margin: 15px 0;
}

h3 {
    font-weight: bold;
    font-size: 25px;
    margin: 15px 0;
}

p {
    font-weight: 100;
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0;
}
label {
    font-weight: 100;
}
.container {
    margin: 0 15%;
    text-align: center;
}

.title {
    position: relative;
    top: 25px;
    margin: 0px 15%;
}


.start-button {
    position: relative;
    top: 250px;
    font-size: 50px;
}

.linked-button {
    color: black;
    border: 5px rgb(37, 37, 172, 0.3) solid;
    border-radius: 15px;
    background-color: rgba(37, 37, 172, 0.301);
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
    transition: inherit;
    -webkit-transition: all .5s;
}

.linked-button:hover {
    /* color: #fffddd; */
    border: 5px rgb(37, 37, 172, 0.7) solid;
    background-color: rgba(37, 37, 172, 0.7);
}
#questions {
    text-align: left;
}

#footer {
   
}

#suggested-friend {
    position:absolute;
    width:592px; /*image width */
    height:512px; /*image height */
    left:50%; 
    top:50%;
    margin-left:-296px; /*image width/2 */
    margin-top:-256px; /*image height/2 */
}



.clearfix::after {
   content: '';
   clear: both;
   display: table;
}

@media screen and (max-width: 768px){
    .container {
        margin: 0 3px;
    }
    h1 {
        font-size: 100px;
    }
}

@media screen and (max-width: 1100px){
    h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 656px){
    h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 455px){
    h1 {
        font-size: 45px;
    }
    .start-button {
        font-size: 30px;
    }
}